<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CrossPurpose Classroom</title>
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body>
		<nav>
			<a href="/" class="nav-link">HOME</a
			><a href="/login" class="nav-link">LOGIN</a
			><a href="/register" class="nav-link">REGISTER</a
			><a href="/logout" class="nav-link">LOG OUT</a>
		</nav>
		<div><%= success %></div>
		<div><%= error %></div>
		<%- body %>
	</body>
</html>
