<% layout('layouts/boilerplate') %>
<h1>Create</h1>
<div class="border-box">
	<form action="/class/create" method="post">
		<label for="name">Class Name</label>
		<input
			type="text"
			id="name"
			name="className"
			minlength="2"
			maxlength="64"
			required
		/>
		<button class="submit">Submit</button>
	</form>
</div>
