<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/home.css" />
<h1>Home</h1>

<a href="/class/create">Create</a>
<% if (user) { %>
<h2><%=user.username%></h2>
<h2>Classes:</h2>
<ul>
	<% for (i = 0; i < Array.from(user.classes).length; i++) {%>
	<li class="classroom">
		<a href="/class/<%= user.classes[i].id %>" class="class-link"
			><%=user.classes[i].className%> %></a
		>
	</li>
	<% } %> <% } %>
</ul>
<form action="/join" method="post" class="join">
	<label for="code">Join Class</label>
	<input type="text" id="code" name="classCode" required />
	<button type="submit">Join</button>
</form>
