<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/home.css" />
<h1>Home</h1>
<% if (user.status === 'Coach') { %>
<a href="/class/create" class="create big-btn">Create Classroom</a>
<% } %>
<div class="classrooms">
	<h2>CLASSROOMS</h2>
	<ul>
		<% for (i = 0; i < Array.from(user.classes).length; i++) {%>
		<li class="classroom">
			<a href="/class/<%= user.classes[i].id %>" class="class-link big-btn"
				><%=user.classes[i].className%> %></a
			>
		</li>
		<% } %>
	</ul>
</div>

<form action="/join" method="post" class="join">
	<label for="code">Join Class</label>
	<input
		type="text"
		id="code"
		name="classCode"
		placeholder="Class Code"
		required
	/>
	<button type="submit">Join</button>
</form>
