<% layout('layouts/boilerplate') %>
<h1>Login</h1>
<div>
	<form action="/login" method="post">
		<label for="username">Username</label>
		<input
			type="text"
			id="username"
			name="username"
			autocomplete="username"
			required
			autofocus
		/>
		<label for="password">Password</label>
		<input
			type="password"
			id="password"
			name="password"
			autocomplete="current-password"
			required
		/>
		<button>Login</button>
		<a href="/">Home</a>
	</form>
</div>
