<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/login.css" />
<h1>Login</h1>
<div class="login-box">
	<form action="/login" method="post">
		<div>
			<label for="username">Username</label>
			<input
				type="text"
				id="username"
				name="username"
				autocomplete="username"
				required
				autofocus
			/>
		</div>
		<div>
			<label for="password">Password</label>
			<input
				type="password"
				id="password"
				name="password"
				autocomplete="current-password"
				required
			/>
		</div>
		<button class="btn">Login</button>
	</form>
</div>
