<% layout('layouts/boilerplate') %>
<h1>Register</h1>
<div class="login-box">
	<form action="/register" method="post">
		<div>
			<label for="email">Email</label>
			<input type="text" id="email" name="email" required autofocus />
		</div>
		<div>
			<label for="username">Username</label>
			<input type="text" id="username" name="username" minlength="2" required />
		</div>
		<div>
			<label for="status">Status</label>
			<select name="status" id="status">
				<option value="Leader" selected>Leader</option>
				<option value="Alumni">Alumni</option>
				<option value="Coach">Coach</option>
			</select>
		</div>
		<div id="cpClass-box">
			<span>
				<label for="cpClass-year">Class</label>
				<span class="class-input">
					<input
						type="number"
						id="cpClass-year"
						name="cpClass[year]"
						min="2010"
						placeholder="Year"
					/>
					<select type="text" id="cpClass-class" name="cpClass[class]">
						<option value=""></option>
						<option value="C1">C1</option>
						<option value="C2">C2</option>
						<option value="C3">C3</option>
						<option value="C4">C4</option>
					</select>
					<input
						type="text"
						id="cpClass-location"
						name="cpClass[location]"
						maxlength="3"
						placeholder="DEN"
					/>
				</span>
			</span>
		</div>
		<div>
			<label for="password">Password</label>
			<input
				type="password"
				id="password"
				name="password"
				minlength="8"
				required
			/>
		</div>
		<button class="btn">Create Account</button>
	</form>
	<script src="/javascript/cpClass.js"></script>
</div>
