<% layout('layouts/boilerplate') %>
<h1>Reset your password</h1>
<div class="border-box">
	<form method="post">
		<label for="password">Password</label>
		<input
			type="password"
			id="password"
			class="solo-input"
			name="password"
			minlength="8"
			required
		/>
		<button>Submit</button>
	</form>
</div>
