.delete {
	display: inline;
}

input {
	max-width: 95%;
}

button {
	font-size: 25px;
}

.leader-list {
	font-size: 30px;
	font-weight: bold;
}
h1 {
	text-align: center;
}

.add {
	border: 1px solid black;
}

h3 {
	font-size: 30px;
	text-align: center;
	margin: 5px;
}

span {
	white-space: nowrap;
}

.inline-form {
	display: inline;
}

.deny {
	background-color: rgba(212, 36, 40, 0.5);
}

.accept {
	background-color: rgba(63, 252, 0, 0.5);
}

.multi-if-small.class-input {
	display: flex;
	flex-direction: row;
}

@media (max-width: 600px) {
	.multi-if-small {
		display: block;
	}
}

@media (max-width: 300px) {
	.multi-if-small.class-input {
		flex-direction: column;
	}
}
