select {
	font-size: 15px;
}

span {
	white-space: nowrap;
}

#filter-jobs {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid black;
	width: 95%;
	min-width: 500px;
}

.filter-option {
	margin: 3px;
}

#salary::-webkit-inner-spin-button,
#salary::-webkit-outer-spin-button,
#min::-webkit-inner-spin-button,
#min::-webkit-outer-spin-button,
#max::-webkit-inner-spin-button,
#max::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#salary,
#min,
#max {
	width: 140px;
}

#salaryType {
	font-size: 25px;
}

.tag-box {
	flex-basis: 100%;
	margin: 10px;
}

.pill {
	border: 1px solid black;
	border-radius: 13px;
	text-align: center;
	padding: 3px;
	margin: 4px 2px;
	color: white;
	background-color: #902428;
}

.select {
	border: black;
	display: flex;
	flex-wrap: wrap;
}

.select__item {
	padding: 3px;
	margin: 10px 5px;
	cursor: pointer;
	color: black;
	background: white;
	transition: background 0.1s;
	font-size: 20px;
}

.select__item--selected {
	background: #902428;
	color: #ffffff;
}

#filter-btn {
	font-size: 25px;
	padding: 5px;
}

.check {
	transform: scale(2);
}

#newJob {
	text-decoration: none;
	font-size: 50px;
	border: 1px solid black;
	border-radius: 5px;
	color: black;
	padding: 5px;
	background-color: #b5b6b9;
	text-align: center;
	margin: 20px 40%;
	display: block;
	min-width: 100px;
	transition: background 0.1s;
}

#newJob:hover {
	cursor: pointer;
	color: #902428;
}

.job {
	border: 1px solid black;
	border-radius: 10px;
	width: 500px;
	background-color: #e0e0e0;
	color: black;
	margin: 15px;
}

.jobTitle {
	margin: 0px;
	padding: 3px;
	overflow-wrap: break-word;
}

.new {
	background-color: #d42428;
	font-size: medium;
	color: white;
	font-weight: normal;
}

.sub-header {
	font-weight: 400;
	padding: 2px;
	margin: 0px;
	overflow-wrap: break-word;
}
.careerTracks {
	height: auto;
	padding: 3px;
	color: black;
}

.careerTracksIntro {
	margin: 2px;
}

.careerPills {
	display: flex;
	flex-wrap: wrap;
}

.jobPayment {
	margin: auto;
	width: 50%;
	text-align: center;
	color: black;
	font-size: large;
}

.description {
	font-weight: 200;
	margin: 0px 10%;
	margin-bottom: 10px;
	overflow-wrap: break-word;
}

.tags {
	margin: 7px;
	display: flex;
	flex-wrap: wrap;
}

.btn {
	cursor: pointer;
	font-size: medium;
	margin: 3px;
	padding: 4px;
	border-radius: 5px;
	border: 1px solid black;
	background-color: #b5b6b9;
	text-decoration: none;
	color: black;
}
.btn:hover {
	background-color: #902428;
	color: white;
}

.buttons {
	display: flex;
	justify-content: end;
}

.interestedIntro {
	margin: 0px;
	position: relative;
}

.interested {
	height: 0px;
	transition: height 300ms linear;
	overflow: hidden;
}

.interested-box {
	border-top: 1px solid black;
	padding: 3px;
}

.all-interested {
	height: auto;
	overflow: hidden;
}

.interested.active {
	height: 30px;
}

.interested-arrow {
	position: absolute;
	top: 0px;
	right: 10px;
	width: 20px;
	height: 20px;
	text-align: center;
}

.interested-toggle {
	display: block;
	cursor: pointer;
}

.interested-arrow.active {
	transform: rotate(90deg);
}

.interested-field {
	margin: 0px 10px;
}

.salary-title {
	margin: 4px;
	font-weight: 200;
	font-size: 30px;
}
