h1 {
	text-align: center;
}
h2 {
	text-align: center;
}

h3 {
	text-align: center;
	font-size: 30px;
}

.borderBottom {
	border-bottom: 1px solid #999;
	padding-bottom: 15px;
}

ul {
	list-style: none;
	padding: 0px;
	text-align: center;
}

li {
	font-size: 30px;
	font-weight: bold;
	margin: 15px;
}

label {
	font-size: 26px;
}

select {
	font-size: 20px;
}

.leave {
	display: inline;
}

.save-or-reset {
	margin-left: auto;
	width: fit-content;
}

.inline-form {
	display: inline;
}

.deny {
	background-color: rgba(212, 36, 40, 0.5);
}

.accept {
	background-color: rgba(63, 252, 0, 0.5);
}

#cpClass-class {
	font-size: 28px;
}
