@font-face {
	font-family: Social-Gothic;
	src: url(/fonts/Social-Gothic/Social-Gothic-Regular.otf) format('opentype');
}

body {
	margin: 0px;
	background-color: #eaeaea;
}

nav {
	display: flex;
	background-color: #2b2c2e;
	height: 100px;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.nav-link {
	color: #ffffff;
	text-decoration: none;
	font-size: 30px;
	font-family: Social-Gothic, sans-serif;
	margin: 10px;
}

main {
	margin: auto;
	width: 50%;
	border: 3px solid black;
	padding: 10px;
}

@media (max-width: 1100px) {
	main {
		width: 80%;
	}
}

@media (max-width: 700px) {
	main {
		width: 100%;
		border: 0px;
	}
	nav {
		flex-direction: column;
		height: auto;
	}
}

.flash {
	position: relative;
	margin: auto;
	width: 40%;
	border-radius: 3px;
	padding: 10px;
	height: auto;
	font-size: 30px;
	text-align: center;
}

.fail {
	border: 3px solid rgba(212, 36, 40, 1);
	background-color: rgba(212, 36, 40, 0.5);
}

.success {
	border: 3px solid rgba(63, 252, 0, 1);
	background-color: rgba(63, 252, 0, 0.5);
}

.x {
	background-color: transparent;
	border: none;
	font-weight: bold;
	font-size: large;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}

input {
	font-size: 25px;
}

label {
	font-size: 30px;
}

button {
	font-size: 25px;
}
